<main>
  <ng-container *ngIf="auth.user | async as user; else showSignIn">
    <mat-toolbar color="primary" [class.mat-elevation-z2]="true">
      <mat-toolbar-row>
        <span>Bootcamp Resources</span>
        <span class="spacer"></span>

        <mat-chip-list selectable="false" class="hide-in-mobile" aria-label="Account Details">
          <mat-chip disableRipple="true" focusable="false" tabindex="-1" selectable="false">{{ user.displayName }}</mat-chip>
          <mat-chip disableRipple="true" selectable="false">{{ user.email }}</mat-chip>
        </mat-chip-list>

        <button
          mat-ripple
          mat-raised-button
          (click)="auth.signOut()"
          aria-label="Sign Out"
        >
          <span>Sign Out</span>
        </button>
      </mat-toolbar-row>      
      <mat-toolbar-row class="show-in-mobile">
        <mat-chip-list selectable="false" aria-label="Account Details">
          <mat-chip disableRipple="true" focusable="false" tabindex="-1" selectable="false">{{ user.displayName }}</mat-chip>
          <mat-chip disableRipple="true" selectable="false">{{ user.email }}</mat-chip>
        </mat-chip-list>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="manage">
      <h4>Select Track</h4>
      <mat-form-field appearance="outline">
        <mat-label>Select Track</mat-label>
        <mat-select [(value)]="selectedTrack" (selectionChange)="reassignResourceSub()">
          <mat-option *ngFor="let track of tracks" [value]="track.value">
            {{ track.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
      </div>
      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let form of forms; index as day; first as isFirstForm">
          <mat-expansion-panel-header>
            <mat-panel-title>Day {{ day }} {{ day == 0 ? ' / Intro' :  ''  }}</mat-panel-title>
          </mat-expansion-panel-header>

          <form [formGroup]="form" (ngSubmit)="onSubmit(form, day)">
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input
                matInput
                required
                minlength="5"
                [formControl]="form.controls.title"
                placeholder="Name of Lesson"
              />
              <mat-error
                *ngIf="
                  form.controls.title.hasError('minlength') &&
                  !form.controls.title.hasError('required')
                "
              >
                At least 5 characters
              </mat-error>
              <mat-error *ngIf="form.controls.title.hasError('required')">
                Title is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                required
                minlength="20"
                [formControl]="form.controls.description"
                placeholder="What exactly should be learnt? ... Explain the title"
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"
              ></textarea>
              <mat-error
                *ngIf="
                  form.controls.description.hasError('minlength') &&
                  !form.controls.description.hasError('required')
                "
              >
                Please explain in detail what is to be covered
              </mat-error>
              <mat-error *ngIf="form.controls.description.hasError('required')">
                Detailed Description is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <div [formArray]="form.controls.objectives">
              <mat-form-field appearance="outline" *ngFor="let objective of form.controls.objectives.controls; index as i">
                <mat-label>Objective {{i + 1}}</mat-label>
                <textarea
                  matInput
                  required
                  minlength="20"
                  [formControl]="objective"
                  placeholder="What is expected at the end of this day's lesson"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3"
                ></textarea>
                <mat-error
                  *ngIf="
                    objective.hasError('minlength') &&
                    !objective.hasError('required')
                  "
                >
                  Please detail this objective to inspire the learners
                </mat-error>
                <mat-error *ngIf="objective.hasError('required') && i < 2">
                  At least two objectives are <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="objective.hasError('required') && i > 1">
                  Objective is <strong>required</strong> or delete it
                </mat-error>

                <button *ngIf="i > 1" type="button" mat-icon-button color="primary" aria-label="Delete" (click)="removeControl(form.controls.objectives, i)">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <button mat-mini-fab type="button" color="primary" aria-label="Add Objective" (click)=
              "addControl(form.controls.objectives)">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div [formArray]="form.controls.requirements" *ngIf="isFirstForm">
              <mat-form-field appearance="outline" *ngFor="let requirement of form.controls.requirements.controls; index as i; first as isFirstReq">
                <mat-label>Requirement {{i + 1}}</mat-label>
                <textarea
                  matInput
                  required
                  minlength="20"
                  [formControl]="requirement"
                  placeholder="What is needed to successfully learn in this track"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3"
                ></textarea>
                <mat-error
                  *ngIf="
                    requirement.hasError('minlength') &&
                    !requirement.hasError('required')
                  "
                >
                  Please detail the needed resources to prepare for the bootcamp
                </mat-error>
                <mat-error *ngIf="requirement.hasError('required') && isFirstReq">
                  At least one requirement is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="requirement.hasError('required') && !isFirstReq">
                  Requirement is <strong>required</strong> or delete it
                </mat-error>

                <button *ngIf="!isFirstReq" type="button" mat-icon-button color="primary" aria-label="Delete" (click)="removeControl(form.controls.requirements, i)">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <button mat-mini-fab type="button" color="primary" aria-label="Add Requirement" (click)=
              "addControl(form.controls.requirements)">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div [formArray]="form.controls.links" *ngIf="!isFirstForm">
              <mat-form-field appearance="outline" *ngFor="let link of form.controls.links.controls; index as i; first as isFirstLink">
                <mat-label>Resource Link {{i + 1}}</mat-label>
                <input
                  matInput
                  required
                  type="url"
                  pattern="^https?:\/\/.+\..+"
                  placeholder="https://..."
                  [formControl]="link"
                >
                <mat-error
                  *ngIf="
                    link.hasError('pattern') &&
                    !link.hasError('required')
                  "
                >
                  Please enter a valid URL
                </mat-error>
                <mat-error *ngIf="link.hasError('required') && isFirstLink">
                  At least one link is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="link.hasError('required') && !isFirstLink">
                  Resource Link is <strong>required</strong> or delete it
                </mat-error>

                <button *ngIf="!isFirstLink" type="button" mat-icon-button color="primary" aria-label="Delete" (click)="removeControl(form.controls.links, i)">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <button mat-mini-fab type="button" color="primary" aria-label="Add Resource Link" (click)=
              "addControl(form.controls.links)">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <mat-form-field appearance="outline" *ngIf="!isFirstForm">
              <mat-label>Detailed Assignment</mat-label>
              <textarea
                matInput
                required
                minlength="20"
                [formControl]="form.controls.assignment"
                placeholder="What should be done?"
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"
              ></textarea>
              <mat-error
                *ngIf="
                  form.controls.assignment.hasError('minlength') &&
                  !form.controls.assignment.hasError('required')
                "
              >
                Please detail the assignment to help the learners
              </mat-error>
              <mat-error *ngIf="form.controls.assignment.hasError('required')">
                Detailed Assignment is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <div [formArray]="form.controls.corrections" *ngIf="!isFirstForm">
              <mat-form-field appearance="outline" *ngFor="let correction of form.controls.corrections.controls; index as i; first as isFirstCorr">
                <mat-label>Correction {{i + 1}}</mat-label>
                <textarea
                  matInput
                  required
                  minlength="20"
                  [formControl]="correction"
                  placeholder="A possible solution to the assignment"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3"
                ></textarea>
                <mat-error
                  *ngIf="
                    correction.hasError('minlength') &&
                    !correction.hasError('required')
                  "
                >
                  Please detail this correction to help the learners
                </mat-error>
                <mat-error *ngIf="correction.hasError('required') && isFirstCorr">
                  At least one correction is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="correction.hasError('required') && !isFirstCorr">
                  Correction is <strong>required</strong> or delete it
                </mat-error>

                <button *ngIf="!isFirstCorr" type="button" mat-icon-button color="primary" aria-label="Delete" (click)="removeControl(form.controls.corrections, i)">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <button mat-mini-fab type="button" color="primary" aria-label="Add Correction" (click)=
              "addControl(form.controls.corrections)">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <mat-action-row>
              <button mat-raised-button type="submit" color="primary">
                Update
              </button>
            </mat-action-row>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <button mat-fab class="scroll-to-top" *ngIf="scrolledDown$ | async" color="primary" aria-label="Scroll to Top" (click)="window.scrollTo(0, 0)">
        <mat-icon>arrow_upward</mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-template #showSignIn>
    <div class="sign-in">
      <section class="header header__container">
        <img
          class="header header__image"
          src="/assets/images/logo-vertical.png"
          alt="DSC AE-FUNAI logo"
        />
        <img
          class="header header__image"
          src="/assets/images/logo-horizontal.png"
          alt="DSC AE-FUNAI logo"
        />
        <h1 class="header header__title mat-display-1">Bootcamp Resources</h1>
        <p class="header header__message mat-body-1">
          Please sign in so you can assist in managing the resources utilized in
          the DSC AE-FUNAI Bootcamp platform.
        </p>
      </section>
      <firebase-ui></firebase-ui>
    </div>
  </ng-template>
</main>
